<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cronjobs</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Platform</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/cronjobs">Cronjobs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/job">Versions</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/createjob">Job<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
	</nav>

	<form action="/createjob?cronjob={{ .cronJob }}" method="post">
		{{ range .jobOptions.Options }}
		<div class="form-group row">
			<label for="{{ .EnvVar }}" class="col col-form-label text-right">
			{{ .EnvVar }}
			</label>
			{{ $selected := .Default }}
			<div class="col">
				<select class="form-control" id="{{ .EnvVar }}" name="{{ .EnvVar }}">
				{{ range .Values }}
					<option value="{{ . }}"{{ if eq . $selected }} selected{{ end }}>{{ . }}</option>
				{{ end }}
				</select>
			</div>
			<div class = "col col-form-label">
				<span>{{ .Description }}</span><br>
			</div>
		</div>
		{{ end }}
		<div class="form-group row">
			<div class="col"></div>
			<div class="col">
				<button type="submit" class="btn btn-primary float-right">Run</button>
			</div>
			<div class="col"></div>
		</div>
	</form>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</div>
</body>
</html>
