<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create Job</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>


<body>
<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Platform</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/cronjobs">Cronjobs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/job">Versions</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/createjob">Job<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
	</nav>

	<form action="/createjob?cronjob={{ .cronJob }}" method="post">
		{{ range .jobOptions.Options }}
		<div class="form-group row">
			<label for="{{ .EnvVar }}" class="col col-form-label text-right">
			{{ .EnvVar }}
			</label>
			<div class="col">
			{{ $length := len .Values }} {{ if eq $length 0 }}
				<input class="form-control" type="test" placeholder="{{ .Default }}" value="{{ .Default }}">
			{{ else }}
			{{ $selected := .Default }}
				<select class="form-control" id="{{ .EnvVar }}" name="{{ .EnvVar }}">
				{{ range .Values }}
					<option value="{{ . }}"{{ if eq . $selected }} selected{{ end }}>{{ . }}</option>
				{{ end }}
				</select>
			{{ end }}
			</div>
			<div class = "col col-form-label">
				<span>{{ .Description }}</span><br>
			</div>
		</div>
		{{ end }}
		<div class="form-group row">
			<div class="col"></div>
			<div class="col">
				<button type="submit" class="btn btn-primary float-right">Run</button>
			</div>
			<div class="col"></div>
		</div>
	</form>

	<script src="/static/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

</div>
</body>
</html>
