<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="refresh" content="15" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Create Job</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">

</head>

<body>

<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Platform</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/cronjobs">CronJobs<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
	</nav>


	<table class="table table-condensed table-bordered table-striped">
		<thead>
			<tr class="success">
				<th>CronJob</th>
				<th>Namespace</th>
				<th>Schedule</th>
				<th style="text-align:center">Last Run</th>
				<th>Previous Runs</th>
				<th>Run</th>
			</tr>
		</thead>
		<tbody>
		{{ range .cronJobs }}
		{{ $cronJob := . }}
		<tr>
			<td>
				<a href="/cronjob?cronjob={{ .Name }}">{{ .Name }}</a>
			</td>
			<td>{{ .Namespace }}</td>
			<td>{{ .Schedule }}</td>
			<td style="text-align:center">
			{{ if .Jobs }}
			{{ with index .Jobs 0 }}
			{{ if eq .Status "succeeded" }}
				<a href="/job?cronjob={{ $cronJob.Name }}&job={{ .Name }}" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .CreationTime }}">
					<svg viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="green" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
						<path d="M2 20 L12 28 30 4" />
						{{ if .Manual }}
						<path d="M19,31 l0,-10 m0,2 q3,-3 6,0 l 0,8 m0,-8 q3,-3 6,0 l 0,8" stroke="black" stroke-width="2"/>
						{{ end }}
					</svg>
				</a>
			{{ else if eq .Status "failed" }}
				<a href="/job?cronjob={{ $cronJob.Name }}&job={{ .Name }}" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .CreationTime }}">
					<svg id="i-close" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
						<path d="M2 30 L30 2 M30 30 L2 2" />
						{{ if .Manual }}
						<path d="M19,31 l0,-10 m0,2 q3,-3 6,0 l 0,8 m0,-8 q3,-3 6,0 l 0,8" stroke="black" stroke-width="2"/>
						{{ end }}
					</svg>
				</a>
			{{ else if eq .Status "active" }}
				<a href="/job?cronjob={{ $cronJob.Name }}&job={{ .Name }}" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .CreationTime }}">
					<svg id="i-close" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="orange" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
						<circle cx="16" cy="16" r="12"/>
						{{ if .Manual }}
						<path d="M19,31 l0,-10 m0,2 q3,-3 6,0 l 0,8 m0,-8 q3,-3 6,0 l 0,8" stroke="black" stroke-width="2"/>
						{{ end }}
					</svg>
				</a>
			{{ end }}
			{{ end }}
			{{ end }}
			</td>
			<td>
			{{ range $i, $v := .Jobs }}
			{{ if eq $i 0 }}
			{{ else if eq $v.Status "succeeded" }}
				<a href="/job?cronjob={{ $cronJob.Name }}&job={{ .Name }}" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .CreationTime }}">
					<svg viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="green" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
						<path d="M2 20 L12 28 30 4" />
						{{ if $v.Manual }}
						<path d="M19,31 l0,-10 m0,2 q3,-3 6,0 l 0,8 m0,-8 q3,-3 6,0 l 0,8" stroke="black" stroke-width="2"/>
						{{ end }}
					</svg>
				</a>
			{{ else if eq $v.Status "failed" }}
				<a href="/job?cronjob={{ $cronJob.Name }}&job={{ .Name }}" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .CreationTime }}">
					<svg id="i-close" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
						<path d="M2 30 L30 2 M30 30 L2 2" />
						{{ if $v.Manual }}
						<path d="M19,31 l0,-10 m0,2 q3,-3 6,0 l 0,8 m0,-8 q3,-3 6,0 l 0,8" stroke="black" stroke-width="2"/>
						{{ end }}
					</svg>
				</a>
			{{ else if eq $v.Status "active" }}
				<a href="/job?cronjob={{ $cronJob.Name }}&job={{ .Name }}" data-toggle="tooltip" data-placement="bottom" data-original-title="{{ .CreationTime }}">
					<svg id="i-close" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="orange" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
						<circle cx="16" cy="16" r="12"/>
						{{ if $v.Manual }}
						<path d="M19,31 l0,-10 m0,2 q3,-3 6,0 l 0,8 m0,-8 q3,-3 6,0 l 0,8" stroke="black" stroke-width="2"/>
						{{ end }}
					</svg>
				</a>
			{{ end }}
			{{ end }}
			</td>
			<td>
				<a href="/createjob?cronjob={{ .Name }}">
					<svg id="i-play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="25" height="25" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-centre">
						<path d="M10 2 L10 30 24 16 Z" />
					</svg>
				</a>
			</td>
		</tr>
		{{end}}

		</tbody>
	</table class="table">
</div>
<script src="/static/js/jquery-3.3.1.slim.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
</body>
