{{ $cronJob := .cronJob }}
{{ $job := .job }}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{ if eq $job.Status "active" }}
	<meta http-equiv="refresh" content="1" />
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Job</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>



<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Platform</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/cronjobs">CronJobs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/cronjob?cronjob={{ $cronJob.Name }}">{{ $cronJob.Name }}</a>
					</li>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{{ range .collection.CronJobs }}
							<a class="dropdown-item" href="/cronjob?cronjob={{ .Name }}">{{ .Name }}</a>
						{{ end }}
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/cronjob?cronjob={{ $cronJob.Name }}&job={{ $job.Name }}">{{ $job.Name }} <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{{ range $cronJob.Jobs }}
							<a class="dropdown-item" href="/job?cronjob={{ $cronJob.Name }}&job={{ .Name }}">
								{{ .Name }}
								{{ if .Passed }}
										<svg id="i-checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="12" height="12" fill="none" stroke="green" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
											<path d="M2 20 L12 28 30 4" />
										</svg>
								{{ else }}
										<svg id="i-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="12" height="12" fill="none" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
											<path d="M2 30 L30 2 M30 30 L2 2" />
										</svg>
								{{ end }}
							</a>
						{{ end }}
						</div>
					</li>
				</ul>
			</div>
	</nav>

	<div class="jumbotron">
		<span>Job: {{ $job.Name }}</span><br>
		<span>Namespace: {{ $job.Namespace }}</span><br>
		<span>Creation Time: {{ $job.CreationTime }}</span><br>
		<span>Status: {{ $job.Passed }}</span><br>
	</div>
	<div class="table-div">
	<table class="table table-condensed table-bordered table-striped">
		{{range .pods}}
		<thead>
			<tr class="success">
				<th>Pod</th>
				<th>Namespace</th>
				<th>Creation Time</th>
				<th>Phase</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ .Name }}</td>
				<td>{{ .Namespace }}</td>
				<td>{{ .CreationTime }}
				<td>{{ .Phase }}</td>
			</tr>
			{{ range .Containers }}
			<tr class="success">
				<th colspan=4>{{ .Name }} logs</td>
			</tr>
			<tr>
				<td colspan=4><pre>{{ .Logs }}</pre></td>
			</tr>
			{{ end }}
		</tbody>
		{{end}}
	</table class="table">
	</div>

	<script src="/static/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>
