<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cronjobs</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="static/css/app.css">
</head>
<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Platform</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/cronjobs">Cronjobs</a></li>
				<li class="active"><a href="/job">Job<span class="sr-only">(current)</span></a></li>
				<li><a href="/versions">Versions</a></li>
			</ul>
		</div>
	</div class="container-fluid">
</nav class="navbar navbar-default">

<span>Job: {{ .job.Name }}</span><br>
<span>Namespace: {{ .job.Namespace }}</span><br>
<span>Creation Time: {{ .job.CreationTime }}</span><br>
<span>Status: {{ .job.Passed }}</span><br>

<table class="table table-condensed table-bordered table-striped">
	{{range .pods}}
	<thead>
		<tr class="success">
			<th>Pod</th>
			<th>Namespace</th>
			<th>Creation Time</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ .Name }}</td>
			<td>{{ .Namespace }}</td>
			<td>{{ .CreationTime }}
		</tr>
		<tr class="success">
			<th colspan=3>Logs</td>
		</tr>
		<tr>
			<td colspan=3><pre>{{ .Logs }}</pre></td>
		</tr>
	</tbody>
	{{end}}
</table class="table">

<p>{{ .logs }}</p>
